.vscode/**
.vscode-test/**
src/**
docs/**
node_modules/**
!node_modules/playwright-core/**
.gitignore
.gitattributes
tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
*.vsix
element-picker-*.vsix
dist/**
.git/**
*.md
!README.md
!LICENSE
!CHANGELOG.md
